td {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
  padding-top: 5px;
  padding-bottom: 5px;

  height: 20px;
}
table {
  color: grey;
}
.tableClick :hover {
  cursor: pointer;
}
.trTable {
  border: 2px solid black;
}

.table {
  padding-top: 20px;
}

.tdSim {
  background-color: #34bfa3;

  border-radius: 50px;

  color: white;

  height: 10px;
}
.tdNao {
  background-color: rgb(230, 84, 84);

  border-radius: 50px;

  color: white;

  height: 10px;
}
.LPAY {
  background-color: #eaeaea;
  border-radius: 50px;
}
